# SPDX-License-Identifier: Apache-2.0

service vendor.mindone_ril /vendor/bin/hw/android.hardware.radio@1.6-service.mindone
    interface android.hardware.radio@1.0::IRadio slot1
    interface android.hardware.radio@1.1::IRadio slot1
    interface android.hardware.radio@1.2::IRadio slot1
    interface android.hardware.radio@1.3::IRadio slot1
    interface android.hardware.radio@1.4::IRadio slot1
    interface android.hardware.radio@1.5::IRadio slot1
    interface android.hardware.radio@1.6::IRadio slot1
    class hal
    user radio
    group radio inet
    disabled
