on property:vendor.connsys.driver.ready=yes
    chown bluetooth bluetooth /proc/driver/bt_dbg
    start wlan_assistant

on property:vendor.connsys.driver.ready=no
    chown bluetooth bluetooth /proc/driver/bt_dbg
